@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,html{
  height: 100%;
}

a{
  margin: 0;
  list-style-type: none;
}

button{
  outline: none !important;
  border: none;
}

button:hover{
  cursor: pointer;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: #7696EB;
}

.img-cabecalho {
  height: 72px;
}

.menu {
  display: flex;
  gap: 32px;
}

.option {
  font-family: 'Sarala', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.4s;
}

.option-activate {
  font-family: 'Sarala', sans-serif;
  color: #333333;;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.4s;
}

.option:hover{
  color: #333333;
}

.conteudo {
  margin-bottom: 48px;
}

.section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  padding: 20px;
}

.img-section1{
  height: 350px;
  padding-left: 100px;
  animation: scale-up-center 1s both;
}

.section2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  padding: 20px;
}

.img-section2{
  height: 350px;
  padding-right: 100px;
  animation: scale-up-center 1s both;
}

.section3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  padding: 20px;
}

.img-section3{
  height: 350px;
  padding-left: 100px;
  animation: scale-up-center 1s both;
}

.section4{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  padding: 20px;
}

.img-section4{
  height: 350px;
  padding-right: 100px;
  animation: scale-up-center 1s both;
}

.section5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  padding: 20px;
}

.img-section5{
  height: 350px;
  padding-left: 100px;
  animation: scale-up-center 1s both;
}

.text-button{
  font-family: 'Righteous', cursive;
  color: #000;
  text-align: center;
  padding-right: 200px;
}

.text{
  font-size: 30px;
  padding-bottom: 10px;
  animation: tracking-in-expand 3s both;
}

@media only screen and (max-width: 1320px) {
  .cabecalho {
    padding: 24px;
  }
  .conteudo{
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .cabecalho {
    padding: 14px;
  }
  .text{
    font-size: 25px;
  }

  .section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
    padding: 20px;
  }

  .img-section1{
    height: 250px;
    padding-left: 50px;
    animation: scale-up-center 1s both;
  }

  .section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
    padding: 20px;
  }

  .img-section2{
    height: 250px;
    padding-left: 50px;
    animation: scale-up-center 1s both;
  }

  .section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
    padding: 20px;
  }

  .img-section3{
    height: 250px;
    padding-left: 50px;
    animation: scale-up-center 1s both;
  }

  .section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
    padding: 20px;
  }

  .img-section4{
    height: 250px;
    padding-left: 50px;
    animation: scale-up-center 1s both;
  }

  .section5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
    padding: 20px;
  }

  .img-section5{
    height: 250px;
    padding-left: 50px;
    animation: scale-up-center 1s both;
  }

}

@media only screen and (max-width: 900px) {
  .cabecalho{
      padding: 4px;
  }
  .text{
    font-size: 20px;
  }

  .section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 10px;
  }

  .img-section1{
    height: 225px;
    padding-left: 25px;
    animation: scale-up-center 1s both;
  }

  .section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 10px;
  }

  .img-section2{
    height: 225px;
    padding-left: 25px;
    animation: scale-up-center 1s both;
  }

  .section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 10px;
  }

  .img-section3{
    height: 225px;
    padding-left: 25px;
    animation: scale-up-center 1s both;
  }

  .section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 10px;
  }

  .img-section4{
    height: 225px;
    padding-left: 25px;
    animation: scale-up-center 1s both;
  }

  .section5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 10px;
  }

  .img-section5{
    height: 225px;
    padding-left: 25px;
    animation: scale-up-center 1s both;
  }
}

@media only screen and (max-width: 500px) {
  .cabecalho{
      padding: 4px;
  }
  .option{
    font-size: 10px;
  }
  .option-activate{
    font-size: 10px;
  }
  .text{
    font-size: 8px;
  }
  .conteudo{
    width: 100%;
  }

  .section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 15px;
  }

  .img-section1{
    height: 50px;
    padding: 5px;
    animation: scale-up-center 1s both;
  }

  .section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 15px;
  }

  .img-section2{
    height: 50px;
    padding: 5px;
    animation: scale-up-center 1s both;
  }

  .section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 5px;
  }

  .img-section3{
    height: 50px;
    padding: 5px;
    animation: scale-up-center 1s both;
  }

  .section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 5px;
  }

  .img-section4{
    height: 50px;
    padding: 5px;
    animation: scale-up-center 1s both;
  }

  .section5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 5px;
  }

  .img-section5{
    height: 50px;
    padding: 5px;
    animation: scale-up-center 1s both;
  }
}